* {
margin: 0;
padding: 0;
}

body {
  font-family: 'Fjalla One', sans-serif;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('../img/alaska1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  text-transform: uppercase;

}

.nav-items {
  text-decoration: none;
  color: white;
  float: right;
  display: inline;
  position: absolute;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 2em;
}
.gallery {
  display: flex;
  flex-direction: column;
}

.gallery-top, .gallery-bottom {
  display: flex;
  text-align: center;


}

.gallery-image {
  height: 300px;
  background-size: cover;
}

.large {
  width: 50vw;
}

.small {
  width: 25vw;
}

.item1 {
  background-image: url('../img/gallery1.jpg');
  background-position: bottom;
}

.item2 {
  background-image: url("../img/gallery2.jpg");
}

.item3 {
  background-image: url('../img/gallery3.jpg');
}

.item4 {
  background-image: url("../img/gallery4.jpg");
  background-position: bottom;
}

.item5 {
  background-image: url('../img/gallery5.jpg');
  background-position: right;
}

.item6 {
  background-image: url("../img/gallery6.jpg");
  background-position: center;
}

.gallery img {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  // padding: 4px;
}
